<html>
    <head>
        <title>
            SACPU - 404 NOT FOUND
        </title>
        <link rel="shortcut icon" type="image/png" href="static/img/favicon.ico">
        <link rel="stylesheet" href="static/css/style.css">
    </head>
    
    <body class="fondo">
        <header class="header">
            <a href="/" target="_self">
                <img class="icono" src="static/img/favicon.ico" alt="Icono" width="64px" height="64px">
            </a>
            <a href="/" target="_self" class="home_button">
                <h1>
                    SACPU - Simulador de Armado de CPU
                </h1>
            </a>
        </header>

        <div class="center">
            <div>
                <h2>
                    401 - Unauthorized
                </h2>
            </div>
            <div class="image_div">
                <img src="static/img/401_dog.JPG" width="500px" height="500px">
            </div>
            <div class="boton_div">
                <a class="boton_login" href="/" target="_self">
                    VOLVER A INICIO
                </a>
            </div>
        </div>

    </body>

</html>