<html>
    <head>
        <title>
            SACPU - 401 UNAUTHORIZED
        </title>
        <link rel="shortcut icon" type="image/png" href="static/img/favicon.ico">
        <link rel="stylesheet" href="static/css/style2.css">
    </head>
    
    <body class="fondo">
        <header class="header">
            <a class="a_icono" href="/" target="_self">
                <img class="icono" src="static/img/favicon.ico" alt="Icono" width="64px" height="64px">
            </a>
            <a href="/" target="_self" class="home_button">
                <h1>
                    SACPU - PC BUILD SIMULATOR
                </h1>
            </a>
        </header>

        <div class="center">
            <div>
                <h2>
                    401 - UNAUTHORIZED
                </h2>
            </div>
            <div class="image_div">
                <img src="static/img/401_cat.jpeg" width="400px" height="500px"/>
            </div>
            <div class="boton_centrado">
                <a class="boton_to_home" href="/simulator" target="_self">
                    BACK TO HOME
                </a>
            </div>
        </div>

    </body>

</html>