<html>
    <head>
        <title>
            SACPU - Admin
        </title>
        <link rel="shortcut icon" type="image/png" href="/static/img/favicon.ico">
        <link rel="stylesheet" href="/static/css/style2.css">
        <meta name="viewport" content="widht=device-widht, user-scalable=no, initial-scale=1.0, maximun-scale=1.0, minimun-scale=1.0">
    </head>

    <body class="fondo">
        <header class="header">
            <a class="a_icono" href="/" target="_self">
                <img class="icono" src="/static/img/favicon.ico" alt="Icono" width="64px" height="64px">
            </a>
            <a href="/" target="_self" class="home_button">
                <h1>
                    SACPU - PC BUILD SIMULATOR
                </h1>
            </a>
            <a class="caja_boton" href="{{url_for('logout')}}" target="_self">
                LOGOUT
            </a>
        </header>

        <div class="contenedor_admin">
            <div class="window_admin">
                <a class="boton_homeAdmin" href="/admin" target="_self">
                    HOME ADMIN
                </a>
                <a class="boton_admin" href="/admin/create" target="_self">
                    CREAR PRODUCTOS
                </a>
                <a class="boton_admin" href="/admin/delete" target="_self">
                    ELIMINAR PRODUCTOS
                </a>
                <a class="boton_admin" href="/admin/update" target="_self">
                    EDITAR PRODUCTOS
                </a>
                <a class="boton_admin_to_simulator" href="/simulator" target="_self">
                    SIMULATOR
                </a>
            </div>

            <div class="contenedor_cambiosAdmin">
                <div class="box_Admin_l">
                    <div class="Enunciado">
                        <h1>
                            WHEN CREATING A PRODUCT ALL FIELDS MUST BE FILLED
                        </h1>
                    </div>

                    <div>
                        <h2>CREATE MOTHERBOARD</h2>
            
                        <form id="form_motherboard">
                            <p>MOTHERBOARD NAME</p>
                            <input class="mod_imput_Admin" type="text" id="motherboard_name"/>
                            <P>MOTHERBOARD DESCRIPTION</P>
                            <input class="mod_imput_Admin" type="text" id="motherboard_description"/>
                            <P>PRICE</P>
                            <input class="mod_imput_Admin" type="number" id="motherboard_price" step="0.01"/>
                            <input class="boton_Acreate" type="submit" value="CREATE"/>
                        </form>
                    </div>
            
                    <div>
                        <h2>CREATE COMPONENT</h2>
            
                        <form id="form_component">
                            <p>COMPONENT NAME</p>
                            <input class="mod_imput_Admin" type="text" id="component_name"/>
                            <P>COMPONENT DESCRIPTION</P>
                            <input class="mod_imput_Admin" type="text" id="component_description"/>
                            <P>COMPONENT PRICE</P>
                            <select class="mod_select"  id="component_type">
                                <option value="" hidden selected>SELECT AN OPTION</option>
                                <option value="RAM">RAM (Random Access Memory)</option>
                                <option value="SSD">SSD (Solid State Drive)</option>
                                <option value="HDD">HDD (Hard Drive Disk)</option>
                                <option value="CPU">CPU (Central Processing Unit)</option>
                                <option value="GPU">GPU (Graphics Processing Unit)</option>
                                <option value="PSU">PSU (Power Supply Unit)</option>
                                <option value="PC Cooling">PC Cooling</option>
                                <option value="Peripheral">Peripheral</option>
                            </select>
                            <P>PRICE</P>
                            <input class="mod_imput_Admin" type="number" id="component_price" step="0.01"/>
                            <input class="boton_Acreate" type="submit" value="CREATE"/>
                        </form>
                    </div>
            
                    <div>
                        <h2>CREATE COMPATIBLE</h2>
                        
                        <form id="form_compatible">
                            <p>MOTHERBOARD</p>
                            <select class="mod_select"  name="motherboard" id="id_motherboard">
                                {% for motherboard in motherboards %}
                                <option value={{motherboard.id}}>{{motherboard.name}}</option>
                                {% endfor %}
                            </select>
            
                            <p>COMPONENT</p>
                            <select class="mod_imput_Admin" class="mod_select" name="component" id="id_component">
                                {% for component in components %}
                                <option value={{component.id}}>{{component.name}}</option>
                                {% endfor %}
                            </select>
                            <input class="boton_Acreate" type="submit" value="CREATE"/>
                        </form>
                    </div>
                </div>
                <div class="box_Admin_r">
                    <div id="error" class="hidden">
                        <p class="error_text_2" id="error_text">
            
                        </p>
                    </div>

                </div>
            
            </div>
        </div>

    </body>
    <!--script must be here-->
    <script src="/static/js/admin_create.js"></script>
</html>