<html>
    <head>
        <title>
            SACPU - Admin
        </title>
        <link rel="shortcut icon" type="image/png" href="static/img/favicon.ico">
        <link rel="stylesheet" href="static/css/style2.css">
        <meta name="viewport" content="widht=device-widht, user-scalable=no, initial-scale=1.0, maximun-scale=1.0, minimun-scale=1.0">

    </head>

    <body class="fondo">
        <header class="header">
            <a class="a_icono" href="/" target="_self">
                <img class="icono" src="/static/img/favicon.ico" alt="Icono" width="64px" height="64px">
            </a>
            <a href="/" target="_self" class="home_button">
                <h1>
                    SACPU - PC BUILD SIMULATOR
                </h1>
            </a>
            <a class="caja_boton" href="{{url_for('logout')}}" target="_self">
                LOGOUT
            </a>
        </header>
        <div class="contenedor_admin">
            <div class="window_admin">
                <a class="boton_homeAdmin" href="/admin" target="_self">
                    HOME ADMIN
                </a>
                <a class="boton_admin" href="/admin/create" target="_self">
                    CREATE PRODUCTS
                </a>
                <a class="boton_admin" href="/admin/delete" target="_self">
                    DELETE PRODUCTS
                </a>
                <a class="boton_admin" href="/admin/update" target="_self">
                    CHANGE PRODUCTS
                </a>
                <a class="boton_admin_to_simulator" href="/simulator" target="_self">
                    SIMULATOR
                </a>
            </div>
            <div class="contenedor_cambiosAdmin">
                
            </div>
        </div>
    </body>
</html>