<html>
    <head>
        <title>
            SACPU - Admin
        </title>
        <link rel="shortcut icon" type="image/png" href="/static/img/favicon.ico">
        <link rel="stylesheet" href="/static/css/style2.css">
        <meta name="viewport" content="widht=device-widht, user-scalable=no, initial-scale=1.0, maximun-scale=1.0, minimun-scale=1.0">
    </head>

    <body class="fondo">
        <header class="header">
            <a class="a_icono" href="/" target="_self">
                <img class="icono" src="/static/img/favicon.ico" alt="Icono" width="64px" height="64px">
            </a>
            <a href="/" target="_self" class="home_button">
                <h1>
                    SACPU - Simulador de Armado de CPU
                </h1>
            </a>
        </header>

        <div class="contenedor_admin">
            <div class="window_admin">
                <a class="boton_homeAdmin" href="/admin" target="_self">
                    HOME ADMIN
                </a>
                <a class="boton_admin" href="/admin/create" target="_self">
                    CREAR PRODUCTOS
                </a>
                <a class="boton_admin" href="/admin/delete" target="_self">
                    ELIMINAR PRODUCTOS
                </a>
                <a class="boton_admin" href="/admin/update" target="_self">
                    EDITAR PRODUCTOS
                </a>
            </div>

            <div>
                <div id="error" class="hidden">
                    <p class="error_text" id="error_text">
        
                    </p>
                </div>
        
                <p>UPDATE CANNOT BE MADE TO ID, IF YOU DONT PUT ANYTHING, IT WILL NOT BE UPDATED</p>
        
                <div class="boton_div">
                    <a href="/admin" target="_self">
                        ADMIN
                    </a>
                </div>
        
                <div id="error" class="hidden">
                    <p class="error_text" id="error_text">
        
                    </p>
                </div>
        
                <div>
                    <h2>UPDATE MOTHERBOARD</h2>
        
                    <form id="form_motherboard">
                        <select name="motherboard" id="motherboard_id">
                            <option value="" hidden selected>SELECT AN OPTION</option>
                            {% for motherboard in motherboards %}
                            <option value={{motherboard.id}} id="m-{{motherboard.id}}">{{motherboard.name}}</option>
                            {% endfor %}
                        </select>
        
                        <p>NAME</p>
                        <input type="text" id="motherboard_name" placeholder="name"/>
        
                        <p>PRICE</p>
                        <input type="number" id="motherboard_price" step="0.01" placeholder="price"/>
        
                        <p>DESCRIPTION</p>
                        <input type="text" id="motherboard_description" placeholder="description"/>
        
                        <input type="submit" value="Submit"/>
                    </form>
                </div>
        
                <div>
                    <h2>UPDATE COMPONENT</h2>
        
                    <form id="form_component">
                        <select name="component" id="component_id">
                            <option value="" hidden selected>SELECT AN OPTION</option>
                            {% for component in components %}
                            <option value={{component.id}} id="c-{{component.id}}">{{component.name}}</option>
                            {% endfor %}
                        </select>
        
                        <p>NAME</p>
                        <input type="text" id="component_name" placeholder="name"/>
        
                        <p>PRICE</p>
                        <input type="number" id="component_price" step="0.01" placeholder="price"/>
        
                        <p>DESCRIPTION</p>
                        <input type="text" id="component_description" placeholder="description"/>
        
                        <p>COMPONENT TYPE</p>
                        <select id="component_type">
                            <option value="" hidden selected>SELECT AN OPTION</option>
                            <option value="RAM">RAM (Random Access Memory)</option>
                            <option value="SSD">SSD (Solid State Drive)</option>
                            <option value="HDD">HDD (Hard Drive Disk)</option>
                            <option value="CPU">CPU (Central Processing Unit)</option>
                            <option value="GPU">GPU (Graphics Processing Unit)</option>
                            <option value="PSU">PSU (Power Supply Unit)</option>
                            <option value="PC Cooling">PC Cooling</option>
                            <option value="Peripheral">Peripheral</option>
                        </select>
        
                        <input type="submit" value="Submit"/>
                    </form>
                </div>
            </div>
        </div>

    </body>

    <!--script must be here-->
    <script src="/static/js/admin_update.js"></script>
</html>