<html>
    <head>
        <title>
            SACPU - Admin
        </title>
        <link rel="shortcut icon" type="image/png" href="/static/img/favicon.ico">
        <link rel="stylesheet" href="/static/css/style.css">
    </head>

    <body>
        <p>WHEN DELETING A MOTHERBOARD OR COMPONENT IT ALSO DELETES THE COMPATIBLE RELATED</p>

        <div class="boton_div">
            <a href="/admin" target="_self">
                ADMIN
            </a>
        </div>

        <div id="error" class="hidden">
            <p class="error_text" id="error_text">

            </p>
        </div>

        <div>
            <h2>DELETE MOTHERBOARD</h2>

            <form id="form_motherboard">
                <select name="motherboard" id="id_motherboard">
                    {% for motherboard in motherboards %}
                    <option value={{motherboard.id}} id="m-{{motherboard.id}}">{{motherboard.name}}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Submit"/>
            </form>
        </div>

        <div>
            <h2>DELETE COMPONENT</h2>

            <form id="form_component">
                <select name="component" id="id_component">
                    {% for component in components %}
                    <option value={{component.id}} id="c-{{component.id}}">{{component.name}}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Submit"/>
            </form>
        </div>

        <div>
            <h2>DELETE COMPATIBLE</h2>
            
            <form id="form_compatible">

                <select name="compatible" id="id_compatible">
                    {% for compatible in compatibles %}
                    <option value="{{compatible[1].id}} {{compatible[2].id}}" id="mc-{{compatible[1].id}}-{{compatible[2].id}}" class="m-{{compatible[1].id}} c-{{compatible[2].id}}">
                        Motherboard: {{compatible[1].name}} - Componente: {{compatible[2].name}}
                    </option>
                    {% endfor %}
                </select>

                <input type="submit" value="Submit"/>
            </form>
        </div>

    </body>

    <script>
        // function for form_motherboard form
        document.getElementById('form_motherboard').onsubmit = function(e) {
            e.preventDefault();
            const id_motherboard = document.getElementById('id_motherboard').value;
            fetch('/admin/delete/motherboard', {
                method: 'POST',
                body: JSON.stringify({
                    'id_motherboard': id_motherboard
                }),
                headers: {
                    'Content-Type': 'application/json'
                }
            }).then(
                response => response.json()
            ).then(function(jsonResponse){
                console.log(jsonResponse);
                
                if (jsonResponse['error']){
                    // when is an error
                    window.location.href = '/errors/500';
                }
                else if (! jsonResponse['invalid_register']){
                    // when deleted is successful
                    alert("MOTHERBOARD DELETED SUCCESSFULLY");
                    document.getElementById('form_motherboard').reset();

                    // eliminate from motherboard form
                    console.log(document.getElementById('id_motherboard').hasChildNodes());
                    console.log(document.getElementById(jsonResponse['child_id']));
                    document.getElementById('id_motherboard').removeChild(document.getElementById(jsonResponse['child_id']));

                    // eliminate from compatible form
                    const elements = document.getElementsByClassName(jsonResponse['child_id']);
                    while(elements.length > 0){
                        elements[0].parentNode.removeChild(elements[0]);
                    }
                
                }
                else {
                    // when deleted is NOT successful
                    document.getElementById('error_text').textContent = String(jsonResponse['invalid_register']);
                    document.getElementById('error').className = '';
                }
                
            }).catch(function() {
                console.log('error_register')
            });
        }
        // function for on change error
        document.getElementById('form_motherboard').onchange = function(e){
            document.getElementById('error').className = 'hidden';
        }

        // function for form_component form
        document.getElementById('form_component').onsubmit = function(e) {
            e.preventDefault();
            const id_component = document.getElementById('id_component').value;
            fetch('/admin/delete/component', {
                method: 'POST',
                body: JSON.stringify({
                    'id_component': id_component
                }),
                headers: {
                    'Content-Type': 'application/json'
                }
            }).then(
                response => response.json()
            ).then(function(jsonResponse){
                console.log(jsonResponse);
                
                if (jsonResponse['error']){
                    // when is an error
                    window.location.href = '/errors/500';
                }
                else if (! jsonResponse['invalid_register']){
                    // when deleted is successful
                    alert("COMPONENT DELETED SUCCESSFULLY");
                    document.getElementById('form_component').reset();

                    // eliminate from component form
                    console.log(document.getElementById('id_component').hasChildNodes());
                    console.log(document.getElementById(jsonResponse['child_id']));
                    document.getElementById('id_component').removeChild(document.getElementById(jsonResponse['child_id']));

                    // eliminate from compatible form
                    const elements = document.getElementsByClassName(jsonResponse['child_id']);
                    while(elements.length > 0){
                        elements[0].parentNode.removeChild(elements[0]);
                    }
                
                }
                else {
                    // when deleted is NOT successful
                    document.getElementById('error_text').textContent = String(jsonResponse['invalid_register']);
                    document.getElementById('error').className = '';
                }
                
            }).catch(function() {
                console.log('error_register')
            });
        }
        // function for on change error
        document.getElementById('form_component').onchange = function(e){
            document.getElementById('error').className = 'hidden';
        }

        // function for form_compatible form
        document.getElementById('form_compatible').onsubmit = function(e) {
            e.preventDefault();
            const id_compatible = document.getElementById('id_compatible').value;
            fetch('/admin/delete/compatible', {
                method: 'POST',
                body: JSON.stringify({
                    'id_compatible': id_compatible
                }),
                headers: {
                    'Content-Type': 'application/json'
                }
            }).then(
                response => response.json()
            ).then(function(jsonResponse){
                console.log(jsonResponse);
                
                if (jsonResponse['error']){
                    // when is an error
                    window.location.href = '/errors/500';
                }
                else if (! jsonResponse['invalid_register']){
                    // when deleted is successful
                    alert("COMPONENT DELETED SUCCESSFULLY");
                    document.getElementById('form_compatible').reset();

                    // eliminate from compatible form
                    console.log(document.getElementById('id_compatible').hasChildNodes());
                    console.log(document.getElementById(jsonResponse['child_id']));
                    document.getElementById('id_compatible').removeChild(document.getElementById(jsonResponse['child_id']));

                }
                else {
                    // when deleted is NOT successful
                    document.getElementById('error_text').textContent = String(jsonResponse['invalid_register']);
                    document.getElementById('error').className = '';
                }
                
            }).catch(function() {
                console.log('error_register')
            });
        }
        // function for on change error
        document.getElementById('form_compatible').onchange = function(e){
            document.getElementById('error').className = 'hidden';
        }
    </script>
</html>