<html>
    <head>
        <title>
            SACPU - Simulador de Armado de CPU
        </title>
        <link rel="shortcut icon" type="image/png" href="static/img/favicon.ico">
        <link rel="stylesheet" href="static/css/style2.css">
        <meta name="viewport" content="widht=device-widht, user-scalable=no, initial-scale=1.0, maximun-scale=1.0, minimun-scale=1.0">

    </head>

    <body class="fondo">
        <header class="header_home">
            <a class="a_icono" href="/" target="_self">
                <img class="icono" src="static/img/favicon.ico" alt="Icono" width="64px" height="64px">
            </a>
            <a href="/" target="_self" class="home_button">
                <h1>
                    SACPU - PC BUILD SIMULATOR
                </h1>
            </a>
            <a class="caja_boton" href="/login" target="_self" >
                LOGIN
            </a>
            <a class="caja_boton" href="/register" target="_self">
                REGISTER
            </a>
        </header>

        <div class="contenedor_HOME">
            <p class="Texto_presentacion">
                SACPU es una página web para simular el armado de una computadora teniendo como pieza base una placa madre.
            </p>
        </div>
        <footer>
            <div class="">

            </div>
        </footer>
    </body>
</html>