<html>
    <head>
        <title>
            SACPU - Simulador de Armado de CPU
        </title>
        <link rel="shortcut icon" type="image/png" href="static/img/favicon.ico">
        <link rel="stylesheet" href="static/css/style2.css">
        <meta name="viewport" content="widht=device-widht, user-scalable=no, initial-scale=1.0, maximun-scale=1.0, minimun-scale=1.0">

    </head>

    <body class="fondo">
        <header class="header_home">
            <a class="a_icono" href="/" target="_self">
                <img class="icono" src="static/img/favicon.ico" alt="Icono" width="64px" height="64px">
            </a>
            <a href="/" target="_self" class="home_button">
                <h1>
                    SACPU - PC BUILD SIMULATOR
                </h1>
            </a>
            <a class="caja_boton" href="/login" target="_self" >
                LOGIN
            </a>
            <a class="caja_boton" href="/register" target="_self">
                REGISTER
            </a>
        </header>

        <div class="contenedor_HOME">
            <div class="Texto_presentacion">
                <p>
                    Our project is a web application made with the Flask micro Framework
                    that allows the simulated purchase of a computer taking into account
                    the motherboard and its compatibility with the different components
                    as the base piece. The information in the database is based on different
                    web pages for the purchase of specialized technology in computers 
                    such as LoginStore, and proprietary brands such as MSI, AMD, Intel,
                    among others.
                </p>
                <div class="center_3">
                    <img src="/static/img/gatinho-gato.gif" width="150px" height="150px">
                </div>

                <a style="text-decoration: none;" href="https://github.com/ChangKuoman/SACPU" target="_target">⇨ LINK TO GITHUB </a>
            </div>
        </div>
        <footer>
            <img class="footer_box" src="/static/img/HXSZ2Tjr_400x400.jpg" width="200px" height="200px">
            <div class="footer_box">
                <h3>
                    PARTNERS:
                </h3>
                <p>Samanta Susana Chang Kuoman</p>
                <p>Anderson David Cárcamo Vargas</p>
            </div>
            <div class="footer_box" >
                <h3>
                    CONTACT:
                </h3>
                <p>samanta.chang@utec.edu.pe</p>

                <p>anderson.carcamo@utec.edu.pe</p>
                
            </div>
            <img class="footer_box" src="/static/img/main-qimg-32f8e54649d71cf48b4890606c428721-lq.jpeg" width="200px" height="200px">
        </footer>
    </body>
</html>