<html>
    <head>
        <title>
            SACPU - Iniciar Sesión
        </title>
        <link rel="shortcut icon" type="image/png" href="static/img/favicon.ico">
        <link rel="stylesheet" href="static/css/style.css">
        
    </head>
    <body class="fondo">
        <div>
            <form id="form">
                <input type="text" id="username" name="username"/>
                <input type="password" id="password" name="password"/>
                <input type="submit" value="Create"/>
            </form>
        </div>

        <div id="error" class="hidden">
            <p class="error_text">
                Username is not valid or password is wrong
            </p>
        </div>
    </body>
    <!--script must be here-->
    <script src="static/js/login.js"></script>
</html>