<html>
    <head>
        <title>
            SACPU - Iniciar Sesión
        </title>
        <link rel="shortcut icon" type="image/png" href="static/img/favicon.ico">
        <link rel="stylesheet" href="static/css/style.css">
    </head>
    <body class="fondo">
        <div>
            <form id="form" action="/login/enter" method="POST">
                <input type="text" id="username" name="username"/>
                <input type="password" id="password" name="password"/>
                <input type="submit" value="Create"/>
            </form>
        </div>
    </body>
</html>