<html>
    <head>
        <title>
            SACPU - Registrarse
        </title>
        <link rel="shortcut icon" type="image/png" href="static/img/favicon.ico">
        <link rel="stylesheet" href="static/css/style.css">
    </head>
    
    <body class="fondo">
        <header class="header">
            <a href="/" target="_self">
                <img class="icono" src="static/img/favicon.ico" alt="Icono" width="64px" height="64px">
            </a>
            <a href="/" target="_self" class="home_button">
                <h1>
                    SACPU - Simulador de Armado de CPU
                </h1>
            </a>
        </header>

        <div class="center_all">
            <form id="form" class="form_div">
                <p>USERNAME</p>
                <input type="text" id="username" name="username"/>
                <p>PASSWORD</p>
                <input type="password" id="password" name="password"/>
                <p>ENTER PASSWORD AGAIN</p>
                <input type="password" id="password_check" name="password_check"/>
                <input type="submit" value="Create"/>
            </form>
        </div>
        <div id="error" class="hidden">
            <p class="error_text" id="error_text">
                
            </p>
        </div>
    </body>
    <!--script must be here-->
    <script src="static/js/register.js"></script>
</html>