<html>
    <head>
        <title>
            SACPU - Registrarse
        </title>
        <link rel="shortcut icon" type="image/png" href="static/img/favicon.ico">
        <link rel="stylesheet" href="static/css/style.css">
    </head>
    
    <body class="fondo">
        <header class="header">
            <a href="/" target="_self">
                <img class="icono" src="static/img/favicon.ico" alt="Icono" width="64px" height="64px">
            </a>
            <a href="/" target="_self" class="home_button">
                <h1>
                    SACPU - Simulador de Armado de CPU
                </h1>
            </a>


        </header>

        <div class="center_all">
            <form action="/register/create" method="POST" class="form_div">
                <p>USERNAME</p>
                <input type="text" name="username" description="username"/>
                <p>PASSWORD</p>
                <input type="password" name="password" description="password"/>
                <p>ENTER PASSWORD AGAIN</p>
                <input type="password" name="password_check" description="password_check"/>
                <input type="submit" value="Create"/>
            </form>
        </div>
    </body>

</html>