<html>
    <head>
        <title>
            SACPU - Registrarse
        </title>
        <link rel="shortcut icon" type="image/png" href="static/img/favicon.ico">
        <link rel="stylesheet" href="static/css/style.css">
    </head>
    
    <body class="fondo">
        <div>
            <form id="form">
                <input type="text" id="username" description="username"/>
                <input type="password" id="password" description="password"/>
                <input type="submit" value="Create"/>
            </form>
        </div>
    </body>


</html>