<html>
    <head>
        <title>
            SACPU - Simulador de Armado de CPU
        </title>
        <link rel="shortcut icon" type="image/png" href="static/img/favicon.ico">
        <link rel="stylesheet" href="/static/css/style2.css">
        
        <meta name="viewport" content="widht=device-widht, user-scalable=no, initial-scale=1.0, maximun-scale=1.0, minimun-scale=1.0">
        
    </head>



    <body class="fondo">
        <header class="header">
            <a class="a_icono" href="/" target="_self">
                <img class="icono" src="/static/img/favicon.ico" alt="Icono" width="64px" height="64px">
            </a>
            <a href="/" target="_self" class="home_button">
                <h1>
                    SACPU - PC BUILD SIMULATOR
                </h1>
            </a>
            <a class="caja_boton" href="{{url_for('logout')}}" target="_self">
                LOGOUT
            </a>
        </header>
        <div class="contenedor_simulador">
            <div class="contenedor_left">
                
            </div>
            <div class="contenedor_center">
                <div class="Enunciado">
                    <h1>
                        WELCOME TO THE SIMULATOR, FIRST SELECT A MOTHERBOARD
                    </h1>
                </div>
                <div class="text_simulator">
                    <p class="titulos">CHOOSE A MOTHERBOARD:</p>
                    <form id="form" name="form" class="text_simulator_part1">
                        <ul class="no_dots">
                        {% for motherboard in motherboards %}
                            <li>
                                <input type="radio" id={{motherboard.id}} name="motherboard" value={{motherboard.id}}/>
                                <label for={{motherboard.id}}>{{motherboard.name}}</label>
                                <div class="descripcion_producto">
                                    <p class="description_list">Description: {{motherboard.description}}</p>
                                    <p class="description_list">Price: {{motherboard.price}}</p>
                                </div>
                            </li>
                        {% endfor %}
                        </ul>
                        <div class="Cajon_pedido">
                            <input type="submit" value="CHOOSE ↪" class="boton_submit"/>
                        </div>
                    </form>
                </div>
            </div>
            <div class="contenedor_right">
                <div class="hidden" id ="admin" data-admin="{{admin}}">
                    <div class="boton_centrado">
                        <a class="boton_to_admin" href="{{url_for('admin')}}" target="_self">
                            ADMIN
                        </a>
                    </div>
                </div>
            </div>
            
        </div>
    </body>

    <script>
        const admin = document.getElementById("admin").dataset.admin;
        if (admin === "True"){
            document.getElementById("admin").className="";
        }
    </script>
    <!--script must be here-->
    <script src="static/js/simulator.js"></script>
</html>