<html>
    <head>
        <title>
            SACPU - Simulador de Armado de CPU
        </title>
        <link rel="shortcut icon" type="image/png" href="static/img/favicon.ico">
        <link rel="stylesheet" href="static/css/style.css">
    </head>

    <body class="fondo">
        <header class="header">
            <img class="icono" src="static/img/favicon.ico" alt="Icono" width="64px" height="64px">
            <h1>
                BIENVENIDO, PRIMERO SELECCIONA UNA TARJETA MADRE
            </h1>
        </header>
        <div class="text-simulator">
            <p>TARJETA MADRE</p>
            <form id="form" name="form">
                <ul class="no_dots">
                
                {% for motherboard in motherboards %}
                    <li>
                        <input type="radio" id={{motherboard.id}} name="motherboard" value={{motherboard.id}}/>
                        <label for={{motherboard.id}}>{{motherboard.name}}</label>
                        <p class="description_list">Description: {{motherboard.description}}</p>
                    </li>
                {% endfor %}

                <input type="submit" value="Submit"/>
            </form>
        </div>
    </body>
    <!--script must be here-->
    <script src="static/js/simulator.js"></script>
</html>