<html>
    <head>
        <title>
            SACPU - Simulador de Armado de CPU
        </title>
        <link rel="shortcut icon" type="image/png" href="/static/img/favicon.ico">
        <link rel="stylesheet" href="/static/css/style2.css">
        <meta name="viewport" content="widht=device-widht, user-scalable=no, initial-scale=1.0, maximun-scale=1.0, minimun-scale=1.0">
    </head>

    <body class="fondo">
        <header class="header">
            <a class="a_icono" href="/" target="_self">
                <img class="icono" src="/static/img/favicon.ico" alt="Icono" width="64px" height="64px">
            </a>
            <a href="/" target="_self" class="home_button">
                <h1>
                    SACPU - PC BUILD SIMULATOR
                </h1>
            </a>
            <a class="caja_boton" href="{{url_for('logout')}}" target="_self">
                LOGOUT
            </a>
        </header>
        <div class="contenedor_simulador">

            <div class="contenedor_left">
                
                <a class="boton_regresar" href="/simulator" target="_self">
                     ↩ BACK
                </a>

            </div>
            
            <div class="contenedor_center">
                <div class="Enunciado">
                    <h1>
                        NOW, CHOOSE THE COMPONENTS
                    </h1>
                </div>
                
                <div class="text_simulator">
                    <div class="row_centrado">
                        <div class="mod_expensive">
                            <h2 class="titulos">YOUR MOTHERBOARD: {{motherboard.name}}</h2>
                            <div class="descripcion_producto">
                                <p class="description_list">MotherBoard Price: {{motherboard.price}}</p>
                            </div>
                        </div>
                    
                        <button class="reset" id="reset-button">
                            <img src="/static/img/boton_reset.png" width="20px" height="20px">
                        </button>
                    </div>
                    
                    <form id="form" name="form" class="text_simulator_part2">
                        <h1 class="titulos_2">
                            COMPONENTS THAT NEED COMPATIBILITY: 
                        </h1>
                        
                        <div>
                            <h2 class="titulos_3">RAM</h2>
                            <ul class="no_dots">        
                            {% for ram in list_RAM%}
                                <li>
                                    <input type="radio" id={{ram.id}} name="ram" value={{ram.id}} data-price="{{ram.price}}" data-name="{{ram.name}}"/>
                                    <label for={{ram.id}}>Name: {{ram.name}}</label>
                                    <div class="descripcion_producto">
                                        <p class="description_list">Price: {{ram.price}}</p>
                                        <p class="description_list">Description: {{ram.description}}</p>
                                    </div>
                                </li>
                            {% endfor %}
                            </ul>
                        </div>
                        
        
                        <div>
                            <h2 class="titulos_3">SSD</h2>
                            <ul class="no_dots">        
                            {% for ssd in list_SSD%}
                                <li>
                                    <input type="radio" id={{ssd.id}} name="ssd" value={{ssd.id}} data-price="{{ssd.price}}" data-name="{{ssd.name}}"/>
                                    <label for={{ssd.id}}>Name: {{ssd.name}}</label>
                                    <div class="descripcion_producto">
                                        <p class="description_list">Price: {{ssd.price}}</p>
                                        <p class="description_list">Description: {{ssd.description}}</p>
                                    </div>
                                </li>
                            {% endfor %}
                            </ul>
                        </div>
        
                        <div>
                            <h2 class="titulos_3">GPU</h2>
                            <ul class="no_dots">        
                            {% for gpu in list_GPU%}
                                <li>
                                    <input type="radio" id={{gpu.id}} name="gpu" value={{gpu.id}} data-price="{{gpu.price}}" data-name="{{gpu.name}}"/>
                                    <label for={{gpu.id}}>Name: {{gpu.name}}</label>
                                    <div class="descripcion_producto">
                                        <p class="description_list">Price: {{gpu.price}}</p>
                                        <p class="description_list">Description: {{gpu.description}}</p>
                                    </div>
                                </li>
                            {% endfor %}
                            </ul>
                        </div>
        
                        <div>
                            <h2 class="titulos_3">PC Cooling</h2>
                            <ul class="no_dots">        
                            {% for pc_cooling in list_PC_Cooling%}
                                <li>
                                    <input type="radio" id={{pc_cooling.id}} name="pc_cooling" value={{pc_cooling.id}} data-price="{{pc_cooling.price}}" data-name="{{pc_cooling.name}}"/>
                                    <label for={{pc_cooling.id}}>Name: {{pc_cooling.name}}</label>
                                    <div class="descripcion_producto">
                                        <p class="description_list">Price: {{pc_cooling.price}}</p>
                                        <p class="description_list">Description: {{pc_cooling.description}}</p>
                                    </div>
                                </li>
                            {% endfor %}
                            </ul>
                        </div>
                        
                        <h1 class="titulos_2">COMPONENTS THAT DO NOT NEED COMPATIBILITY: </h1>
                        <div>
                            <h2 class="titulos_3">HDD</h2>
                            <ul class="no_dots">        
                            {% for hdd in list_HDD%}
                                <li>
                                    <input type="radio" id={{hdd.id}} name="hdd" value={{hdd.id}} data-price="{{hdd.price}}" data-name="{{hdd.name}}"/>
                                    <label for={{hdd.id}}>Name: {{hdd.name}}</label>
                                    <div class="descripcion_producto">
                                        <p class="description_list">Price: {{hdd.price}}</p>
                                        <p class="description_list">Description: {{hdd.description}}</p>
                                    </div>
                                </li>
                            {% endfor %}
                            </ul>
                        </div>
        
                        <div>
                            <h2 class="titulos_3">CPU</h2>
                            <ul class="no_dots">        
                            {% for cpu in list_CPU%}
                                <li>
                                    <input type="radio" id={{cpu.id}} name="cpu" value={{cpu.id}} data-price="{{cpu.price}}" data-name="{{cpu.name}}"/>
                                    <label for={{cpu.id}}>Name: {{cpu.name}}</label>
                                    <div class="descripcion_producto">
                                        <p class="description_list">Price: {{cpu.price}}</p>
                                        <p class="description_list">Description: {{cpu.description}}</p>
                                    </div>
                                </li>
                            {% endfor %}
                            </ul>
                        </div>
        
                        <div>
                            <h2 class="titulos_3">PSU</h2>
                            <ul class="no_dots">        
                            {% for psu in list_PSU%}
                                <li>
                                    <input type="radio" id={{psu.id}} name="psu" value={{psu.id}} data-price="{{psu.price}}" data-name="{{psu.name}}"/>
                                    <label for={{psu.id}}>Name: {{psu.name}}</label>
                                    <div class="descripcion_producto">
                                        <p class="description_list">Price: {{psu.price}}</p>
                                        <p class="description_list">Description: {{psu.description}}</p>
                                    </div>
                                </li>
                            {% endfor %}
                            </ul>
                        </div>
        
                        <h1>PERIPHERALS</h1>
        
                        <div>
                            <h2 class="titulos_3">Peripheral</h2>
                            <ul class="no_dots" id="peripheral">        
                            {% for peripheral in list_Peripheral%}
                                <li>
                                    <input type="checkbox" name="peripherals" data-price="{{peripheral.price}}" data-name="{{peripheral.name}}" id="{{peripheral.id}}"/>
                                    <label for={{peripheral}}>Name: {{peripheral.name}}</label>
                                    <div class="descripcion_producto">
                                        <p class="description_list">Price: {{peripheral.price}}</p>
                                        <p class="description_list">Description: {{peripheral.description}}</p>
                                    </div>
                                </li>
                            {% endfor %}
                            </ul>
                        </div>
                    </form>
                </div>
            </div>

            <div class="contenedor_right">
                <div class="caja_compra">
                    <div class="header">
                        <h2>SHOPPING CART</h2>
                        <img class="icono_carrito" src="/static/img/carrito_de_compras.png" alt="Icono">
                    </div>
                    <p class="titulos_4">MotherBoard Price: {{motherboard.price}}</p>
                    <ul class="orden_producto" id="shopping_items">
                        <b>{{motherboard.name}} {{motherboard.price}}</b>
                    </ul>

                    <div class="total_compra">
                        <p> TOTAL: S/.  </p>
                        <p id="total_price">{{motherboard.price}}</p>
                    </div>
                    <!--
                    <input class="boton_comprar" type="submit" value="BUY"/>
                    <button class="boton_comprar" id="boton-compra">BUY</button>
                    -->
                    <input type="hidden" id="motherboard" value="{{motherboard.id}}"/>
                    <input class="boton_comprar" type="submit" id="boton-compra" value="BUY"/>

                </div>
            </div>
        </div>
    </body>

    <!--script must be here-->
    <script>
        document.getElementById("reset-button").onclick = function(e){
            e.preventDefault();
            document.getElementById("form").reset();
            const elem = document.getElementById("shopping_items");
            
            while (elem.lastChild.tagName == 'LI'){
                elem.removeChild(elem.lastChild);
            }

        }
    </script>

    <script>
        document.getElementById("boton-compra").onclick = function(e){
            e.preventDefault();
            // motherboard - input hidden
            const motherboardInput = document.getElementById("motherboard");
            // radio input - name
            const psu_list = document.getElementsByName('psu');
            const cpu_list = document.getElementsByName('cpu');
            const hdd_list = document.getElementsByName('hdd');
            const ram_list = document.getElementsByName('ram');
            const ssd_list = document.getElementsByName('ssd');
            const gpu_list = document.getElementsByName('gpu');
            const pc_cooling_list = document.getElementsByName('pc_cooling');
            // peripherals - checkbox
            const peripherals_list = document.getElementsByName('peripherals');

            // values
            const motherboard = motherboardInput.value;
            let psu = 0;
            let cpu = 0;
            let hdd = 0;
            let ram = 0;
            let ssd = 0;
            let gpu = 0;
            let pc_cooling = 0;

            let peripherals = []; // ? should have initiated

            // for psu
            for (i = 0; i < psu_list.length; i++){
                const elem = psu_list[i];
                if (elem.checked){
                    psu = elem.value;
                    break;
                }
            }
            // for cpu
            for (i = 0; i < cpu_list.length; i++){
                const elem = cpu_list[i];
                if (elem.checked){
                    cpu = elem.value;
                    break;
                }
            }
            // for hdd
            for (i = 0; i < hdd_list.length; i++){
                const elem = hdd_list[i];
                if (elem.checked){
                    hdd = elem.value;
                    break;
                }
            }
            // for ram
            for (i = 0; i < ram_list.length; i++){
                const elem = ram_list[i];
                if (elem.checked){
                    ram = elem.value;
                    break;
                }
            }
            // for ssd
            for (i = 0; i < ssd_list.length; i++){
                const elem = ssd_list[i];
                if (elem.checked){
                    ssd = elem.value;
                    break;
                }
            }
            // for gpu
            for (i = 0; i < gpu_list.length; i++){
                const elem = gpu_list[i];
                if (elem.checked){
                    gpu = elem.value;
                    break;
                }
            }
            // for pc_cooling
            for (i = 0; i < pc_cooling_list.length; i++){
                const elem = pc_cooling_list[i];
                if (elem.checked){
                    pc_cooling = elem.value;
                    break;
                }
            }
            // for peripherals
            for (i = 0; i < peripherals_list.length; i++){
                const elem = peripherals_list[i];
                if (elem.checked){
                    peripherals.push(parseInt(elem.id));
                }
            }

            // fetch
            fetch('/simulator/buy', {
                method: 'POST',
                body: JSON.stringify({
                    'motherboard': motherboard,
                    'psu': psu,
                    'cpu': cpu,
                    'hdd': hdd,
                    'ram': ram,
                    'ssd': ssd,
                    'gpu': gpu,
                    'pc_cooling': pc_cooling,
                    'peripherals': peripherals
                }),
                headers: {
                    'Content-Type': 'application/json'
                }
            }).then(response => response.json())
            .then(function(jsonResponse){
                console.log(jsonResponse);
                if (jsonResponse['error']){
                    window.location.href = '/errors/500';
                }
                else{
                    window.location.href = '/buy/' + parseFloat(jsonResponse['precio_total']) + "/" + JSON.stringify(jsonResponse['matriz']);
                }


            }).catch(function(){
                console.log('something went wrong buy');
            });
        }
    </script>

    <script src="/static/js/simulator_motherboard.js"></script>
</html>